<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Test</title>
</head>
<body>
<div>
    <input type="text" id="log">
    <input type="text" id="pass">
    <input type="text" id="email">
    <button type="button" id="bbb">Add</button>

</div>

<script>
    $('#bbb').click(function () {
        let $log = $('#log').val();
        let $pass = $('#pass').val();
        let $email = $('#email').val();
        console.log($log +' '+ $pass +' '+ $email);
        
        
          $.ajax({
            url: "/test",
            type: "POST",
            data: JSON.stringify($log +' '+ $pass +' '+ $email),
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function (res) {
                console.log(res);
            },
            error: function (err) {
              console.log(err);
            }
          });
        
    })


</script>
</body>
</html>